extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3
        .row 
            .col-12 
                +box-head("Đặt hàng")

        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr  
                            th STT
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng
                            th Tổng tiền
                    tbody 
                        if(cartDetail.products.length > 0)
                            each item, index in cartDetail.products
                                tr  
                                    td #{index + 1}
                                    td 
                                        img(
                                            src=item.productInfo.thumbnail 
                                            alt=item.productInfo.title 
                                            width="80px"
                                        ) 
                                    td #{item.productInfo.title}
                                    td #{item.productInfo.priceNew} đ
                                    td #{item.quantity}
                                    td #{item.totalPrice} đ
                        else    
                            tr  
                                td(
                                    colspan="7"
                                    class="text-center"
                                ) Giỏ hàng trống.
                if(cartDetail.products.length > 0)
                    h3(class="text-end") Tổng đơn hàng: #{cartDetail.totalPrice} đ
        

        if(cartDetail.products.length > 0)  
            .row 
                .col-12 
                    .card.p-4.my-4 
                        form(
                            action="/checkout/order" 
                            method="post"
                        ) 
                            div(class="form-group")
                                label(for="fullName") Họ tên
                                input(
                                    type="text"
                                    class="form-control"
                                    id="fullName"
                                    name="fullName"
                                    required
                                ) 
                            div(class="form-group")
                                label(for="phone") Số điện thoại
                                input(
                                    type="text"
                                    class="form-control"
                                    id="phone"
                                    name="phone"
                                    required
                                ) 
                            div(class="form-group")
                                label(for="address") Địa chỉ
                                input(
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    name="address"
                                    required
                                ) 
                            div(class="form-group")
                                button(
                                    type="submit"
                                    class="btn btn-success d-grid gap-2 col-6 mx-auto mt-2"
                                ) ĐẶT HÀNG