include ../mixins/sub-menu.pug

header.Header   
    .container
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src=settingGeneral.logo, alt="Logo")
                
            .col-5
                form(
                    action="/search"
                    method="GET"
                )  
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name='keyword'
                            value= keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-info"
                        ) Tìm
            .col-4
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProducts = "/products" ;
                            a(href=pathProducts) Sản phẩm
                                +sub-menu(layoutProductDanhmuc, pathProducts)
                        li
                            a(href="/cart")  Giỏ hàng (#{miniCart? miniCart.totalQuantity : "0"})

                        if(user)
                            li 
                                a(href="/users/friend") Bạn bè
                            li 
                                a(href="/rooms-chat") Phòng chat
                            li 
                                a(href="/user/info") #{user.fullName}
                            li 
                                a(href="/user/logout") Đăng xuất  
                        else
                            li 
                                a(href="/user/register") Đăng ký
                            li 
                                a(href="/user/login") Đăng nhập                       