.row 
    .col-12 
        a(
            class="btn btn-primary m-1"
            href="/users/not-friend"
        ) Danh sách người dùng
        a(
            class="btn btn-primary m-1"
            href="/users/friend"
        ) Danh sách bạn bè
        a(
            class="btn btn-primary m-1"
            href="/users/request"
        ) Lời mời đã gửi
        a(
            class="btn btn-primary m-1"
            href="/users/accept"
        ) 
            | Lời mời kết bạn
            span(
                class="badge badge-light"
                badge-user-accept=user.id
            ) #{user.acceptFriends.length}