extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 

    +alert-error("3000")
    
    h1(class="mb-4") Thêm mới tài khoản

    form(
        action=`${prefixadmin}/accounts/create`
        method='POST'
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            label(for="fullName") Họ tên *
            input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
            
            ) 
        div(class="form-group")
            label(for="email") Email *
            input(
                type="email"
                class="form-control"
                id="email"
                name="email"
         
            ) 
        div(class="form-group")
            label(for="password") Mật khẩu *
            input(
                type="password"
                class="form-control"
                id="password"
                name="password"
             
            ) 
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
            ) 
        div(
            class="form-group"
            upload-img
        )
            label(for="avatar") Avatar
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-img-input
            )
            img(
                src=""
                upload-img-preview
                class="img-preview"
            )
            //- button(class ="delete-img btn btn-danger") Xóa ảnh

        div(class="form-group")
            label(for="Role_id") Phân quyền
            select(name="Role_id" id="Role_id" class="form-control")
                option(disabled) -- Chọn -- 
                each item in roles  
                    option(value=item.id) #{item.title}
            
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            ) 
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
            ) 
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới