extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main        
    if(role.nhomQuyen.includes("Accounts_edit")) 
        h1(class="mb-4") Cập nhật tài khoản

        +alert-error("3000")
        +alert-success("3000")

        if(role)
            form(
                action=`${prefixadmin}/accounts/edit/${data.id}?_method=PATCH`
                method='POST'
                enctype="multipart/form-data"
            ) 
                div(class="form-group")
                    label(for="fullName") Họ tên *
                    input(
                        type="text"
                        class="form-control"
                        id="fullName"
                        name="fullName"
                        value= data.fullName
                    ) 
                div(class="form-group")
                    label(for="email") Email *
                    input(
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        value= data.email
                    ) 
                div(class="form-group")
                    label(for="password") Mật khẩu *
                    input(
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                    ) 
                div(class="form-group")
                    label(for="phone") Số điện thoại
                    input(
                        type="text"
                        class="form-control"
                        id="phone"
                        name="phone"
                        value= data.phone
                    ) 
                div(
                    class="form-group"
                    upload-img
                )
                    label(for="avatar") Avatar
                    input(
                        type="file"
                        class="form-control-file"
                        id="avatar"
                        name="avatar"
                        accept="image/*"
                        upload-img-input
                    )
                    img(
                        src=data.avatar
                        upload-img-preview
                        class="img-preview"
                    )
                    //- button(class ="delete-img btn btn-danger") Xóa ảnh
                div(class="form-group")
                    label(for="Role_id") Phân quyền
                    select(name="Role_id" id="Role_id" class="form-control")
                        option(disabled) -- Chọn -- 
                        each item in role 
                            option(
                                value=item.id
                                selected=(item.id == data.Role_id ? true : false)
                            ) #{item.title}

                div(class="form-group form-check form-check-inline")
                    input(
                        type="radio"
                        class="form-check-input"
                        id="statusActive"
                        name="status"
                        value="active"
                        checked=(data.status == "active" ? true : false)
                    ) 
                    label(for="statusActive" class="form-check-label") Hoạt động
                div(class="form-group form-check form-check-inline")
                    input(
                        type="radio"
                        class="form-check-input"
                        id="statusInActive"
                        name="status"
                        value="inactive"
                        checked=(data.status == "inactive" ? true : false)
                    ) 
                    label(for="statusInActive" class="form-check-label") Dừng hoạt động
                div(class="form-group")
                    button(
                        type="submit"
                        class="btn btn-primary"
                    ) Cập nhật
        else 
            p Vui lòng tạo nhóm quyền trước khi cập nhật tài khoản !
            p 
                a(
                    href=`${prefixadmin}/roles/create`
                    class="btn btn-secondary"
                ) Tạo nhóm quyền