extends ../../layouts/default.pug

block main  
    if(role.nhomQuyen.includes("Accounts_view"))      
        h1(class="mb-4") Danh sách tài khoản

        .card.mb-3
            .card-header Danh sách
            .card-body 
                .row 
                    .col-8
                    .col-4.text-end
                        if(role.nhomQuyen.includes("Accounts_create"))           
                            a(
                                href=`${prefixadmin}/accounts/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới

                table(
                    class="table table-hover table-sm"
                )
                    thead 
                        tr 
                            th STT 
                            th Avatar
                            th Họ tên
                            th Phân quyền 
                            th Email 
                            th Trạng thái 
                            th Hành động

                    tbody 
                        each item, index in records 
                            tr 
                                td #{index+1}
                                td  
                                    img(
                                        src=item.avatar
                                        alt=item.fullName
                                        width="100px"
                                        height="auto"
                                    )
                                td #{item.fullName}
                                td #{item.role.title}
                                td #{item.email}
                                td 
                                    if(item.status === "active")
                                        a(
                                            href="javascript:;"
                                            class="badge badge-success"
                                            data-status="active"
                                        ) Hoạt động
                                    else 
                                        a(
                                            href="javascript:;"
                                            class="badge badge-danger"
                                            data-status="active"
                                        ) Hoạt động
                                td 
                                    a(
                                        href= `${prefixadmin}/accounts/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                    ) Chi tiết
                                    if(role.nhomQuyen.includes("Accounts_edit")) 
                                        a(
                                            href= `${prefixadmin}/accounts/edit/${item.id}`
                                            class="btn btn-warning btn-sm ml-1"
                                        ) Sửa
                                    if(role.nhomQuyen.includes("Accounts_create")) 
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                        ) Xóa