mixin formChangeMulti(actions)
    form(
        action=actions 
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .form-group
                select(name="type" class="form-control")
                    option(disabled selected)  -- Chọn hoạt động -- 
                    option(value="active")  Hoạt động
                    option(value="inactive") Dừng hoạt động
                    option(value="delete-all") Xóa tất cả
            .form-group
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Áp dụng
