mixin search(keyword)
    form(id="form-search")
                        .input-group
                            input(
                                type="text"
                                placeholder="Nhập từ khóa"
                                name="keyword"
                                class="form-control"
                                value=keyword
                            )
                            .input-group-appent 
                                button(
                                    class="btn btn-success"
                                    type="submit"
                                ) Tìm