mixin table-tree(items, level = 1)
    each item, index in items
        - const prefix = Array(level + 1).join("-- ")
        tr 
            td 
                input(type="checkbox" name="id" value=item.id)

            td #{item.index}
            td 
                img(src=item.thumbnail,
                alt=`Sản phẩm ${index+1}`
                width="100px"
                height="auto"
                )
            td #{prefix} #{item.title}
            
            td 
                input(
                    type="number"
                    value= item.position
                    style="width: 60px"
                    min="1"
                    name="position"
                )
            td 
                if(role.nhomQuyen.includes("products-category_edit"))   
                    if(item.status == "active")
                        a(
                            href="javascript:;"
                            data-status=item.status   
                            data-id=item.id
                            button-changeStatus
                            class="badge badge-success"
                        ) Hoạt động
                    else
                        a(
                            href="javascript:;"
                            data-status=item.status   
                            data-id=item.id
                            button-changeStatus
                            class="badge badge-danger"
                        ) Dừng hoạt động
                else 
                    if(item.status == "active")
                        a(
                            button-changeStatus
                            class="badge badge-success"
                        ) Hoạt động
                    else
                        a(
                            button-changeStatus
                            class="badge badge-danger"
                        ) Dừng hoạt động
            td 
                -const updatedBy = item.updateBy[item.updateBy.length-1];
                if(updatedBy)
                    p #{updatedBy.accfullName}
                    p #{moment(updatedBy.updateAt).format("DD/MM/YYYY hh:mm:ss a")}
            td
                a(
                    href= `${prefixadmin}/products-category/detail/${item.id}`
                    class="btn btn-secondary btn-sm"
                ) Chi tiết
                if(role.nhomQuyen.includes("products-category_edit"))   
                    a(
                        href= `${prefixadmin}/products-category/edit/${item.id}`
                        class="btn btn-warning btn-sm"
                    ) Sửa
                button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id = item.id 
                ) Xóa

        if item.children && item.children.length > 0 
            +table-tree(item.children, level + 1) 
    

