extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main

    .container.my-3     
        .row 
            .col-12     
                +box-head("Chat")

        .row    
            .col-12 
                .chat(my-id=user.id)
                    .inner-body
                        each chat in chats
                            div(class=(chat.inforUser.id == user.id ? "inner-outcoming":"inner-incoming"))
                                if(chat.inforUser.id != user.id)
                                    .inner-name #{chat.inforUser.fullName}
                                .inner-content
                                    | #{chat.content}  
                        div(class="inner-list-typing")
                            div(class="box-typing")
                               
                    .inner-previewImg
                        div(class="custom-file-container" data-upload-id="upload-img")
                    .inner-foot
                        form(
                            action="" 
                            class="inner-form"
                        ) 
                            input(type="text" placeholder="Nhập nội dung..." name="content")
                            label(
                                class=" btn btn-light"
                                for="file-upload-with-preview-upload-img"
                            ) <i class="fa-solid fa-image"></i>
                            span(class="btn-icon btn btn-light") 
                                i(class="fas fa-smile")
                            button 
                                i.fa-solid.fa-paper-plane

    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")

