extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 

    +alert-error(3000)
    +alert-success(3000)
    if(role.nhomQuyen.includes("products_edit")) 
        h1(class="mb-4") Chỉnh sửa sản phẩm

        form(
            action=`${prefixadmin}/products/edit/${product.id}?_method=PATCH`
            id="form-edit-product"
            method='POST'
            enctype="multipart/form-data"
        ) 
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value= product.title
                ) 
            div(class="form-group")
                label(for="product_category_id") Chọn danh mục
                select(
                    name="product_category_id"
                    id="product_category_id`"
                    class="form-control"
                ) 
                    option(value="") -- Chọn danh mục --
                    if(danhmuc)
                        +select-tree(danhmuc,1,product.product_category_id)
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control"
                    id="desc"
                    name="description" 
                    rows="5"
                ) #{product.description}
            div(class="form-group")
                label(for="price") Giá
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value=product.price
                    min="0"
                ) 
            div(class="form-group")
                label(for="discount")   % Giảm giá
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value=product.discountPercentage
                    min="0"
                ) 
            div(class="form-group")
                label(for="stock") Số lượng
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value=product.stock
                    min="0"
                ) 
            div(
                class="form-group"
                upload-img
            )
                label(for="thumbnail") Ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-img-input
                )
                
                img(
                    src= product.thumbnail
                    upload-img-preview
                    class="img-preview"
                )
                button(class ="delete-img btn btn-danger") Xóa ảnh

            div(class="form-group")
                label(for="position") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tự động tăng"
                    min="1"
                    value= product.position
                ) 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(product.status == "active" ? true : false)
                )
                label(for="statusActive" class="form-check-label") Hoạt động 

            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                    checked=(product.status == "inactive" ? true : false)

                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động 

            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cập nhật  

        script(src="/admin/js/product.js") 
        