extends ../../layouts/default.pug
block main  
    h1 Danh sách sản phẩm

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            each item in filterStatus
                button(
                    class=`btn btn-sm ml-1 btn-outline-success ${item.class}`
                    button-status=item.status
                ) #{item.name}

    .card.mb-3
        .card-header Danh sách 
        .card-body
            table.table.table-hover.table-sm
                thead 
                    tr 
                        th STT
                        th Hình ảnh 
                        th Tiêu đề
                        th Giá
                        th Trạng thái
                        th Hành động
                tbody 
                    each item, index in products
                        tr 
                            td #{index+1}
                            td 
                                img(src=item.thumbnail,
                                alt=`Sản phẩm ${index+1}`
                                width="100px"
                                height="auto"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td 
                                if(item.status == "active")
                                    a(href="#" class="badge badge-success") Hoạt động
                                else
                                    a(href="#" class="badge badge-danger") Ngừng hoạt động
                                
                            td
                                button(class="btn btn-warning btn-sm") Sửa
                                button(class="btn btn-danger btn-sm ml-1") Xóa



