extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main  
    +alert-success("3000")
          

    h1 Danh sách sản phẩm

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6
                    +filter-Status(filterStatus)
                .col-6
                    +search(keyword)

    .card.mb-3  
        .card-header Sắp xếp
        .card-body
            .row 
                .col-4 
                    +sort()


    .card.mb-3
        .card-header Danh sách 
        .card-body
            .row 
                .col-8
                    +formChangeMulti(`${prefixadmin}/products/change-multi?_method=PATCH`)
                .col-4 
                    a(
                        href=`${prefixadmin}/products/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới

            table(
                class="table table-hover table-sm"
                checkbox-multi
            )
                thead 
                    tr 
                        th 
                            input(type="checkbox" name="checkall")
                        th STT
                        th Hình ảnh 
                        th Tiêu đề
                        th Giá
                        th Vị trí 
                        th Trạng thái
                        th Hành động
                tbody 
                    each item, index in products
                        tr 
                            td 
                                input(type="checkbox" name="id" value=item.id)

                            td #{index+1}
                            td 
                                img(src=item.thumbnail,
                                alt=`Sản phẩm ${index+1}`
                                width="100px"
                                height="auto"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td 
                                input(
                                    type="number"
                                    value= item.position
                                    style="width: 60px"
                                    min="1"
                                    name="position"
                                )
                            td 
                                if(item.status == "active")
                                    a(
                                        href="javascript:;"
                                        data-status=item.status   
                                        data-id=item.id
                                        button-changeStatus
                                        class="badge badge-success"
                                    ) Hoạt động
                                else
                                    a(
                                        href="javascript:;"
                                        data-status=item.status   
                                        data-id=item.id
                                        button-changeStatus
                                        class="badge badge-danger"
                                    ) Dừng hoạt động
                                
                            td
                                a(
                                    href= `${prefixadmin}/products/detail/${item.id}`
                                    class="btn btn-secondary btn-sm"
                                ) Chi tiết
                                a(
                                    href= `${prefixadmin}/products/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                ) Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    button-delete
                                    data-id = item.id 
                                ) Xóa


    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixadmin}/products/changeStatus`)
    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixadmin}/products/delete`)


    script(src="/admin/js/product.js") 