mixin product-item(item)
    .col-4.mb-3
        .product-item
            .inner-image
                img(src=item.thumbnail, alt=item.title)
                if(item.featured == "1")
                    .inner-featured Nổi bật
            .inner-content
                h3.inner-tiltle 
                    a.no-underline(href=`/products/detail/${item.slug}`) #{item.title}
                .inner-price-new #{item.priceNew}đ
                .inner-price-old #{item.price}đ
                .inner-discount #{item.discountPercentage}%
    