extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    
    .container.my-5
        .row.justify-content-center
            .col-8
                h1(class="text-center") Đổi mật khẩu
                form(
                    action="/user/password/reset"
                    method="POST"
                )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                        )
                    div(class="form-group")
                        label(for="confirmPassword") Xác nhận mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block mt-2"
                        ) Đổi mật khẩu
