extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(3000)
    +alert-error(3000)
    .container.my-3     
        .row 
            .col-12 
               +box-head("Giỏ hàng")
  
        .row 
            .col-12 
               table(class="table table-bordered")
                    thead 
                        tr  
                            th STT
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng
                            th Tổng tiền
                            th Hành động
                    tbody 
                        if(cartDetail.products.length > 0)
                            each item, index in cartDetail.products
                                tr  
                                    td #{index + 1}
                                    td 
                                        img(src=`${item.productInfo.thumbnail}` alt="sản phẩm 1" width="80px") 
                                    td  
                                        a(href=`/products/detail/${item.productInfo.slug}` class="no-underline") #{item.productInfo.title}
                                    td #{item.productInfo.priceNew} đ
                                    td 
                                        input(
                                            type="number"
                                            name="quantity"
                                            value=item.quantity
                                            min="1"
                                            product-id=item.product_id
                                            style="width:60px"
                                        ) 
                                    td #{item.totalPrice} 
                                    td 
                                        a(
                                            href=`/cart/delete/${item.product_id}`
                                            class="btn btn-danger"
                                        ) Xóa
                        else    
                            p Không có sản phẩm nào trong giỏ hàng. 

            h3(class="text-end") Tổng đơn hàng: #{cartDetail.totalPrice} đ
                
            div(class="text-end mt-3")
                a(href="/checkout" class="btn btn-success") Thanh toán 

    script(src="/js/cart.js")