extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main  
    +alert-success("3000")
    +alert-error("3000")

    form(
        action=`${prefixadmin}/settings/general?_method=PATCH`
        method= "POST"
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            label(for="websiteName") Tên Website 
            input(
                type="text"
                class="form-control"
                id="websiteName"
                name="websiteName"
                value=(settingGeneral? settingGeneral.websiteName:"")
            )
        div(class="form-group" upload-img)
            label(for="logo") Logo
            input(
                type="file"
                class="form-control-file"
                id="logo"
                name="logo"
                accept="image/*"
                upload-img-input        
            )   
            img(
                src=(settingGeneral? settingGeneral.logo:"")
                class="img-preview"
                upload-img-preview
            )
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value=(settingGeneral? settingGeneral.phone:"")
            )
        div(class="form-group")
            label(for="email") email
            input(
                type="text"
                class="form-control"
                id="email"
                name="email"
                value=(settingGeneral? settingGeneral.email:"")
            )
        div(class="form-group")
            label(for="address") Địa chỉ
            input(
                type="text"
                class="form-control"
                id="address"
                name="address"
                value=(settingGeneral? settingGeneral.address:"")
            )
        div(class="form-group")
            label(for="copyright") Copyright
            input(
                type="text"
                class="form-control"
                id="copyright"
                name="copyright"
                value=(settingGeneral? settingGeneral.copyright:"")
            )
        div(class="form-group")
            button(type="submit" class="btn btn-primary") Cập nhật