extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3     

        include ../../partials/list-btn-user.pug

        .row 
            .col-12 
               +box-head("Lời mời đã nhận")

        .row 
            each user in users
                .col-6
                    div(class="box-user ")
                        div(class="inner-avatar")
                            img(
                                src=(user.avatar ? user.avatar : "/img/avatar.jpg " )
                                alt=user.fullName
                            )
                        div(class="inner-info") 
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons") 
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    btn-accept-friend=user.id
                                ) Chấp nhận
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-remove-friend=user.id
                                ) Xóa
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-deleted-friend 
                                    disabled
                                ) Đã xóa
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    btn-accepted-friend 
                                    disabled
                                ) Đã chấp nhận
                            
            
                        
block script
    script(src="/js/users.js") 