extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3     

        include ../../partials/list-btn-user.pug

        .row 
            .col-12 
               +box-head("Danh sách bạn bè")
        .row    
             each user in users
                .col-6
                    div(class="box-user ")
                        div(class="inner-avatar")
                            img(
                                src=(user.avatar ? user.avatar : "/img/avatar.jpg " )
                                alt=user.fullName
                            )
                        div(class="inner-info") 
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons") 
                                a(
                                    href="#"
                                    class="btn btn-sm btn-primary mr-1"
                                ) Nhắn tin
                            div(
                                class="inner-status"
                                status=user.statusOnline
                            ) <i class="fa-solid fa-circle d-flex justify-content-end align-items-start"></i>

        
                            
            
                        
block script
    script(src="/js/users.js") 