extends ../../layouts/default.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                if(product.title)
                    h1(class="mb-4") #{product.title}

                if(product.price)
                    div(class="mb-4") Giá: <b>#{product.price}$</b> 

                if(product.discountPercentage)
                    div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b> 

                if(product.stock)
                    div(class="mb-4") Còn lại: <b>#{product.stock}</b> 

                if(product.thumbnail)
                    div(class="mb-4") 
                        img(
                            src=product.thumbnail
                            style="width: 200px"
                        )  


                if(product.position)
                    div(class="mb-4") Vị trí: <b>#{product.position}</b> 

                if(product.description)
                    div(class="mb-4") #{product.description}
