extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .product-detail
        .container.my-3 
            .row 
                .col-6  
                    .inner-thumb
                        img(src= product.thumbnail, alt=product.title)
                .col-6
                    h1(class="inner-title") #{product.title}
                    if(product.category)
                        div(class="inner-category")
                            span Danh mục: 
                            a(href=`/products/${product.category.slug}`) #{product.category.title} 

                    if(product.priceNew)
                        div(class="inner-price-new") <b>#{product.priceNew}$</b> 
                    if(product.price)
                        div(class="inner-price-old") <b>#{product.price}$</b> 
                    if(product.discountPercentage)
                        div(class="inner-percent") Giảm tới: <span>#{product.discountPercentage}%</span> 

                    if(product.stock)
                        div(class="inner-stock") Còn lại: <span>#{product.stock}</span> Sản phẩm      

                    form(
                        action=`/cart/add/${product.id}` 
                        method="POST"
                    ) 
                        input(
                            class="form-control mb-2"
                            type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            max=product.stock 
                        )
                        button(
                            type="submit"
                            class="btn btn-success btn-block"
                        ) Thêm vào giỏ hàng
        hr

        .container.my-3 
            .row
                .col-12
                    +box-head("Mô tả sản phẩm")
                    .inner-desc !{product.description}
