header.header 
    .container-fluid
        .row.align-items-center
            .col-3 
                .inner-logo
                    a(href="/admin/dashboard") ADMIN

            .col-9
                div(class="text-end")
                    a(
                        href=`${prefixadmin}/my-account`
                        class="btn btn-primary btn-sm "
                        style="margin-right: 10px"
                    ) #{user.fullName}
                    a(
                        href=`${prefixadmin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất