.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixadmin}/dashboard`) Tổng quan 
            li 
                a(href=`${prefixadmin}/products-category`) Danh mục sản phẩm
            li 
                a(href=`${prefixadmin}/products`) Danh sách sản phẩm
            li 
                a(href=`${prefixadmin}/roles`) Nhóm quyền
            li 
                a(href=`${prefixadmin}/roles/permissions`) Phân quyền