.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixadmin}/dashboard`) Tổng quan 
            if(role.nhomQuyen.includes("products-category_view"))    
                li 
                    a(href=`${prefixadmin}/products-category`) Danh mục sản phẩm

            if(role.nhomQuyen.includes("products_view"))   
                li 
                    a(href=`${prefixadmin}/products`) Danh sách sản phẩm

            if(role.nhomQuyen.includes("Role_view"))           
                li 
                    a(href=`${prefixadmin}/roles`) Nhóm quyền

            if(role.nhomQuyen.includes("Role_phanquyen"))       
                li 
                    a(href=`${prefixadmin}/roles/permissions`) Phân quyền

            if(role.nhomQuyen.includes("Accounts_view"))       
                li 
                    a(href=`${prefixadmin}/accounts`) Tài khoản
            li 
                a(href=`${prefixadmin}/settings/general`) Cài đặt chung